@use 'tokens' as *;

@keyframes smooth-appear {
  to {
    bottom: 0;
  }
}


:host {
  position: fixed;
  bottom: -100%;
  width: 100%;
  padding: $spacing-100;
  background-color: $color-slideout-bkg;
  height: 40dvh;
  overflow: scroll;

  &.slide-in {
    animation: smooth-appear 1s ease forwards;
  }

  .slide-out--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-100;
  }

  .slide-out--title {
    font-size: $font-size-slideout-title;
    letter-spacing: 0.09375rem;
  }

  .slide-out--actions {
    display: flex;
    gap: $spacing-50;
  }

  .slide-out--content {
    display: flex;
    justify-content: space-between;
    gap: $spacing-100;
  }


  .slide-out--image {
    width: auto;
    height: 30vh;
    object-fit: contain;
  }

  .slide-out--info {
    display: flex;
    flex-direction: column;
    gap: $spacing-50;

    > p {
      font-size: 1.5rem;
    }

    .slide-out--links-container {
      display: flex;
      gap: 0.5rem;
    }

    .slide-out--link {
      font-size: 1.25rem;
      font-family: 'Comfortaa', cursive;
      text-transform: capitalize;

      &:not(.slide-out--link-last) {
        border-right: 1px solid;
        padding-right: 0.25rem;
      }

    }
  }
}
