$main-background: #2B2D42;
$text-primary: #EDF2F4;
$text-secondary: #e8b63e;
$background-primary: #e62429;
$background-hover: #9f0013;
$header-link-selected: #e8b63e;
$card-background: #221e36;
$footer-background: #0f0d18;
$button-background: #0069ed;
$button-background-interactive: #0053ba;
