<header class="header" #header>
    <nav class="nav">
        <ul class="nav__links">
            <li><a [routerLink]="'characters'" routerLinkActive="selected">Characters</a></li>
            <li><a [routerLink]="'comics'" routerLinkActive="selected">Comics</a></li>
            <li><a [routerLink]="'creators'" routerLinkActive="selected">Creators</a></li>
            <li><a [routerLink]="['/', {outlets: {favorites :['my-favorites']}}]" skipLocationChange routerLinkActive="selected">My Favorites</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <router-outlet></router-outlet>
    <router-outlet name="favorites"></router-outlet>
</main>
<router-outlet name="details"></router-outlet>

<footer class="footer">Data provided by <a href="http://marvel.com" target="_blank">Marvel</a>. © 2014 Marvel</footer>
