<header class="header">
    <nav class="nav">
        <ul class="nav__links">
            <li><a [routerLink]="'characters'" routerLinkActive="selected">Characters</a></li>
            <li><a [routerLink]="'comics'" routerLinkActive="selected">Comics Series</a></li>
            <li><a [routerLink]="'creators'" routerLinkActive="selected">Creators</a></li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
    <!--  <router-outlet name="details"></router-outlet>-->
</main>
<footer>Footer</footer>
