<h1 class="page-title">Spidey themed characters in MCU: {{characters()?.total | number : '':'en'}}.</h1>
<app-cards [response]="characters()?.results">
    <ng-template #header let-character>
        <a [routerLink]="['/',{outlets: {details: ['details', 'characters', character.id]}}]">{{character.name}}</a>
    </ng-template>
    <ng-template #body
                 let-character>{{character.description === "" ? "Comics available: " + character.comics.available : character.description}}
    </ng-template>
</app-cards>


