@use "tokens" as *;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-text-primary;
  font-size: $font-base;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100%;
  padding: $spacing-100;
}

.layout-cards {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-100;
}
