@use "tokens" as *;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-text-primary;
  font-size: $font-base;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.button-icon {
  border-radius: 2rem;
}

