@use "tokens" as *;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-text-primary;
  font-family: 'Bangers', cursive;
}

body {
  height: 100%;
  background: $color-main-background;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

p {
  font-size: $font-size-base;
  font-family: 'Comfortaa', cursive;
}

.button {
  display: inline-block;
  border: none;
  padding: $spacing-100;
  margin: 0;
  text-decoration: none;
  background: $color-button-background;
  color: $color-text-primary;
  font-size: $font-size-button;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
}

button:hover,
button:focus {
  background: $color-button-background-interactive;
}

.button-icon {
  background: $color-icon-btn-background;
  padding: $spacing-50;
  border-radius: 50%;
  outline: 0.0625rem solid;
  transition: transform 150ms ease;

  &:hover, &:focus, &:active {
    transform: scale(1.01);
    background: $color-icon-btn-background-interactive;
  }
}

.material-icons {
  vertical-align: middle;
}

